<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem">Paramétrage pour une mise en production</h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div>
			[(#SAISIE{input, code_ga,
				label="Code google analytics",
				explication="De la forme UA-XXXXXXXX-1"})]
		</div>
		<div>
			[(#SAISIE{oui_non, activer_ga,
				label="Activer le code google analytics?",
				explication=""})]
		</div>
		[(#PLUGIN{seo}|oui|et{#CONFIG{seo/meta_tags/tag/robots}|=={'INDEX, FOLLOW'}|non})
		<div>
			<p>
			<div>Le meta robots est actuellement à <strong>#CONFIG{seo/meta_tags/tag/robots}</strong></div>
			<a href="#URL_ACTION_AUTEUR{changer_meta_robot,'',#SELF}">Modifier la meta robots en INDEX, FOLLOW (plugin SEO)</a>
			</p>
		</div>
		]

		<input type="hidden" name="_meta_casier" value="apsulis_config_generale" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>