[(#REM) <a class='trigger-modal' href="url">texte</a> ]

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<div id="modal-loader">
	<div class="spinner-wp spinner-circle"></div>
</div>
