[(#AUTORISER{configurer,_apsulis_config_generale}|sinon_interdire_acces)]

<h1 class="grostitre">[(#CHEMIN_IMAGE{apsulis_config_generale-64.png}|balise_img{''})]&nbsp;<:apsulis_config_generale:apsulis_config_generale_titre:></h1>

#BOITE_OUVRIR{#CHEMIN_IMAGE{article-24.png}|balise_img{'',cadre-icone}|concat{Sommaire},'simple','titrem'}

<ul>
	<li><a href="#liens_reseaux_sociaux">Paramétrages des liens vers les réseaux sociaux</a></li>
</ul>

#BOITE_FERMER

<span id='liens_reseaux_sociaux'></span>
<div class="ajax">
	#FORMULAIRE_CONFIGURER_APSULIS_CONFIG_GENERALE_RESEAUX_SOCIAUX
</div>