<table class="body" bgcolor="#757671" style="background-color: #757671;background-image: url(img/bg-kpi.jpg);background-position: center top;background-repeat: no-repeat;">
	<tr>
		<td class="center" align="center" valign="top">
			<center>
				<table class="row pl10-xs" style="background-color: #ffffff;">
					<tr>
						<td class="center pt10" align="center">
							[(#REM)<p class="h-like-l ta-c" style="color:#585e5e;">Si vous ne visualisez pas ce message,&nbsp;<a href="#" target="_blank"  style="color:#585e5e;"><span style="color:#585e5e;">suivez le lien</span></a>.</p>]
						</td>
					</tr>
				</table>
				<table class="row header" style="background-color: #ffffff;">
					<tr>
						<td class="center" align="center">
							<center>
							[(#REM)
								<table class="container">
									<tr>
										<td class="wrapper">
											<table class="six columns">
												<tr>
													<td>
														<img src="http://placehold.it/350x150" alt="Insideboard logotype">
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td>
														<img src="http://placehold.it/350x150" alt="Insideboard logotype">
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							]
							<table class="container">
								<tr>
									<td class="wrapper last">
										<table class="twelve columns">
											<tr>
												<td>
													<img src="[(#LOGO_SITE_SPIP|image_reduire{0,150}|extraire_attribut{src})]"[ alt="(#NOM_SITE_SPIP|attribut_html|couper{80})"]>
												</td>
												<td class="expander"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							</center>
						</td>
					</tr>
				</table>
				<br/>
				<table class="container">
					<tr>
						<td>
							<table class="row">
								<tr>
									<td class="wrapper last">
										<table class="twelve columns">
											<tr>
												<td class="panel panel-lg">
													#ENV{texte}
												</td>
												<td class="expander"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<br/>
							<table class="row last">
								<tr>
									<td class="wrapper last">
										<table class="twelve columns">
											<tr>
												<td class="panel">
													<p><a href="#URL_SITE_SPIP" target="_blank" style="color:#585e5e;">#NOM_SITE_SPIP</a></p>
												</td>
												<td class="expander"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<br/>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>

[(#FILTRE{skel_newsletters_liens_absolus})]