<div class="container bor-t-pu-a bg-wh-a pa-40" itemtype="https://schema.org/Article" itemscope  role="article">
	<header>
		<h1 class="h-like-c light" itemprop="headline">Erreur 404 - Page non trouvée</h1>
	</header>
	<section role="main">
		<article class="wysiwyg">
			<div>
				<section id="chapo">
					<p><strong>Nous sommes désolés.<br />
						Une erreur est survenue ou la page que vous cherchez &agrave; atteindre n'est pas pr&eacute;sente sur le site.<br />
						Nous vous invitons à recharger cette page ult&eacute;rieurement
					</strong></p>
				</section> <!-- Fermeture de ID : chapo -->
				<p style="margin-bottom: 0px;">Vous pouvez &eacute;galement :</p>
				<ul>
					<li>effectuer une recherche sur le site &agrave; l’aide du cadre en haut de page,</li>
					<li>consulter <a href='#URL_PAGE{plan}' title='Plan du site'>le plan du site complet</a></li>
				</ul>
				[<p>Si toutefois vous pensez qu'il s'agit d'un problème technique, n'hésitez pas à <a href="mailto:(#EMAIL_WEBMASTER)" title="Nous contacter">nous contacter</a>.</p>]

			</div>
		</article>
	</section>
</div>
