<div class="container bor-t-pu-a bg-wh-a pa-40" itemtype="https://schema.org/Article" itemscope  role="article">
	<header>
		<h1 class="h-like-c light" itemprop="headline">Erreur 500 - Problème technique</h1>
	</header>
	<section role="main">
		<article class="wysiwyg">
			<div>
				<section id="chapo">
					<p><strong>Nous sommes d&eacute;sol&eacute;s.<br />
						Un problème technique nous empêche d'afficher la page.<br />
						Nous vous invitons à recharger cette page ult&eacute;rieurement
					</strong></p>
				</section> <!-- Fermeture de ID : chapo -->
				<p style="margin-bottom: 0px;">Vous pouvez &eacute;galement :</p>
				<ul>
					<li>effectuer une recherche sur le site &agrave; l’aide du cadre en haut de page,</li>
					<li>consulter <a href='#URL_PAGE{plan}' title='Plan du site'>le plan du site complet</a></li>
				</ul>
			</div>
		</article>
	</section>
</div>
