[(#SET{entrees,#ARRAY})]
#SET{statut,#LISTE{publie,depublie}}
[(#REM) Mot clé ]
[(#ENV{theme}|oui)
	[(#ENV{theme}|=={Tous}|non)
		[(#ENV{theme}|alfortville_setenv{id_mot})]
	]
]

[(#REM) Pagination ]
#SET{pagination,#ENV{pagination}|sinon{30}}
[(#CONFIG{icdc_recherche_avancee/nb_pagination}|oui) #SET{pagination,#CONFIG{icdc_recherche_avancee/nb_pagination}} ]

[(#REM)
	GESTION DES DATES
	Attribution de date si ces criteres de recherche ne sont pas remplis ou mis au defaut
]

	#SET{critere_date,''}
	[(#ENV{du}|oui|et{#ENV{du}|!={JJ/MM/AAAA}})
		#SET{critere_date, à partir du #ENV{du}}
		#SET{debut, #ENV{du}|convert_date_recherche}
	]
	[(#ENV{au}|oui|et{#ENV{au}|!={JJ/MM/AAAA}})
		[(#SET{critere_date, #GET{critere_date}[ jusqu'au (#ENV{au})] })]
		#SET{fin, #ENV{au}|convert_date_recherche}
	]
	#SET_PUSH{criteres, #GET{critere_date}}


[(#REM) Valeurs par défaut si rien n'est renseigné ]
	[(#GET{debut}|non) #SET{debut,'1970-01-01'} ]
	[(#GET{fin}|non) #SET{fin,'2138-01-01'} ]

[(#REM) Calculer les rubriques à exclures (et les branches) ]
#SET{rubriques_exclues,#CONFIG{icdc_recherche_avancee/exclusion_rubriques}}
#SET{branches_exclues,#CONFIG{icdc_recherche_avancee/exclusion_branches}}
<BOUCLE_rubriques_a_exclure(RUBRIQUES){id_rubrique IN #GET{branches_exclues}|explode{","}}{tout}>
	[(#SET{rubriques_exclues,[[(#GET{rubriques_exclues})],(#ID_RUBRIQUE)]})]
	<BOUCLE_rubriques_a_exclure2(RUBRIQUES){id_parent}{tout}>
		[(#SET{rubriques_exclues,[[(#GET{rubriques_exclues})],(#ID_RUBRIQUE)]})]
		<BOUCLE_sousrub(BOUCLE_rubriques_a_exclure2){tout}> </BOUCLE_sousrub>
	</BOUCLE_rubriques_a_exclure2>
</BOUCLE_rubriques_a_exclure>

[(#REM) Mélange articles / rubriques ]
<BOUCLE_recherche_articles(ARTICLES){recherche ?}{par points}{inverse}{maj >= #GET{debut}}{maj <= #GET{fin}}{!id_rubrique IN #GET{rubriques_exclues}|explode{','}}{!id_mot=8}{id_mot ?}{statut IN #GET{statut}}>

	#SET{date,''} #SET{tag,''} #SET{logo,''}
	<BOUCLE_tag(MOTS){id_article}{id_groupe=3}{par hasard}{0,1}>
		[(#SET{tag,#TITRE})]
	</BOUCLE_tag>

	<BOUCLE_date_evt(EVENEMENTS){id_article}>
		[(#SET{date,[(#DATE_DEBUT|Agenda_affdate_debut_fin{#DATE_FIN,''})]})]
	</BOUCLE_date_evt>

	[(#SET{logo,#LOGO_ARTICLE_NORMAL|image_remplissage{725,327}|extraire_attribut{src}})]

	[(#SET{entrees,#GET{entrees}|push{#ARRAY{
		objet,article,
		id_objet,#ID_ARTICLE,
		titre,#TITRE,
		texte,#INTRODUCTION|couper{230},
		categorie,#INFO_TITRE{rubrique,#ID_RUBRIQUE},
		tag,#GET{tag},
		date_evt,#GET{date},
		date,#DATE,
		maj,#MAJ|affdate{},
		logo,#GET{logo},
		url,#URL_ARTICLE,
		points,#POINTS
	}}})]
</BOUCLE_recherche_articles>

<BOUCLE_recherche_articles_uniques(ARTICLES){id_rubrique=-1}{recherche ?}{par points}{inverse}{!id_rubrique IN #GET{rubriques_exclues}|explode{','}}{!id_mot=8}{id_mot ?}{statut IN #GET{statut}}>
	[(#SET{entrees,#GET{entrees}|push{#ARRAY{
		objet,article,
		id_objet,#ID_ARTICLE,
		titre,#TITRE,
		texte,#INTRODUCTION|couper{230},
		categorie,#INFO_TITRE{rubrique,#ID_RUBRIQUE},
		tag,#GET{tag},
		date_evt,#GET{date},
		date,#DATE,
		maj,#MAJ|affdate{},
		logo,#GET{logo},
		url,#URL_ARTICLE,
		points,#POINTS
	}}})]
</BOUCLE_recherche_articles_uniques>

<BOUCLE_recherche_rubriques(RUBRIQUES){recherche ?}{par points}{inverse}{!id_rubrique IN #GET{rubriques_exclues}|explode{','}}{!id_mot=8}{id_mot ?}>
	<BOUCLE_parent(RUBRIQUES){id_enfant}>
		[(#SET{categorie,#TITRE})]
	</BOUCLE_parent>

	#SET{tag,''} #SET{logo,''}
	<BOUCLE_tagRub(MOTS){id_rubrique}{id_groupe=3}{par hasard}{0,1}>
		[(#SET{tag,#TITRE})]
	</BOUCLE_tagRub>

	[(#SET{logo,#LOGO_RUBRIQUE_NORMAL|image_remplissage{725,327}|extraire_attribut{src}})]

	[(#SET{entrees,#GET{entrees}|push{#ARRAY{
		objet,rubrique,
		id_objet,#ID_RUBRIQUE,
		titre,#TITRE,
		texte,#INTRODUCTION|couper{230},
		date,#DATE,
		categorie,#GET{categorie},
		tag,#GET{tag},
		logo,#GET{logo},
		url,#URL_RUBRIQUE,
		points,#POINTS
	}}})]
</BOUCLE_recherche_rubriques>

[(#REM) Compteur de résultat ]
[(#SET{compteur_results,[(#GET{entrees}|count)]})]

[(#REM) AFFICHAGE ]
<div class="container bor-t-pu-a bg-wh-a mt-30">
	<header class="row">
		<div class="pa-15 bor-bg-gy-a">
			<h1 class="h-like-c c-pu-c">Rechercher sur le site</h1>
		</div>

		<div class="bor-v-gy-b">
			#FORMULAIRE_RECHERCHE_AVANCEE
		</div>

	</header>
	<div class="c-gy-d mt-15"><strong>[(#GET{compteur_results})]</strong> résultat[s(#GET{compteur_results}|>{1}|oui)] pour : <strong>#ENV{recherche}</strong></div>
	<div class='surlignable'>
	<B_affichage>
	[(#ANCRE_PAGINATION)]
	<ul class="mv-15">
		<BOUCLE_affichage(DATA){source table, #GET{entrees}}{par points}{inverse}{pagination #GET{pagination}}>
		<li class="bor-b-gy-a pv-15">
			<article  class="row" itemtype="https://schema.org/Article" itemscope>
				[<div class="col-md-3 col-sm-4 mb-15-xs">
					<a href="#VALEUR{url}" class="link hover-trigger"[ title="Consultez l'article (#VALEUR{titre}|attribut_html|couper{80})"]>
						<figure class="caption-a-wp hover-c bor-a-gy-a ">
							<img src="(#VALEUR{logo})" itemprop="image" class="img-responsive w-full-xs"[ alt="(#VALEUR{titre}|attribut_html|couper{80})"]>
						</figure>
					</a>
				</div>]
				<div class="col-md-9 col-sm-8">
					<header>
						<div class="d-inbl">
							[<span class="label-a c-pu-c" itemprop="about">(#VALEUR{categorie})</span>]
							[(#VALEUR{objet}|=={article}|oui)
								[<span class="c-pu-c">(#VALEUR{date_evt}|sinon{#VAL{'MAJ le '}|concat{#VALEUR{maj}}})</span>]
							]

						</div>
						<a href="#VALEUR{url}"[ title="Lire la suite de l'article  (#VALEUR{titre}|attribut_html|couper{80})"] class="hover-d rd-a">
							<h3 class="h-like-g mt-15" itemprop="headline">#VALEUR{titre}</h3>
						</a>
					</header>
					[<p class="mt-5" itemprop="description">(#VALEUR{texte})</p>]
					<ul class="d-inbl tt-upp p-like-c mt-10">
						[<li class="c-pu-c sep-e" itemprop="about">(#VALEUR{tag})</li>]
						<li><a href="#VALEUR{url}"[ title="Lire la suite de l'article  (#VALEUR{titre}|attribut_html|couper{80})"] class="trigger-hover" itemprop="url"><strong class="c-rd-a hover-a rd-a">Lire la suite</strong></a></li>
					</ul>
				</div>
				<time class="hidden" itemprop="datePublished" datetime="[(#VALEUR{date}|affdate{'Y-m-d'})]">[(#VALEUR{date}|affdate{'d/m/Y'})]</time>
			</article>
		</li>
		</BOUCLE_affichage>
	</ul>
	[<div class="ta-c">
		(#PAGINATION{page_precedent_suivant})
	</div>]
	</B_affichage>
		<div class='row pv-50 pt-10-xs'>
			<div class='col-md-12'>
				<p class='c-rd-a rd-a'><strong>Aucun résultat ne correspond à votre recherche.</strong></p>
			</div>
		</div>
	<//B_affichage>
	</div>

</div>
