<div class="panel panel-default[ (#ENV{taille}|=={on}|oui)small][ (#ENV{couleur,purple-a})]">
	<div class="panel-heading" role="tab" id="heading#ENV{id}">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="##ENV{groupe_accor}" href="#collapse#ENV{id}" aria-expanded="true" aria-controls="collapse#ENV{id}">
				#ENV{titre}
			</a>
		</h4>
	</div>
	<div id="collapse#ENV{id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading#ENV{id}">
		<div class="panel-body">
			<div class='wysiwyg'>
