<section class="bg-wh-a shad-v-a pt-20">
	<div class="container">
		<div class="row">
			<header class="col-md-12">
				<h2 class="h-like-e c-pu-c">Publications</h2>
			</header>
		</div>

		<div class="carousel-publications-wp carousel-horizontal-wp mv-25">
			<div class="carousel-control-wp hidden-js hidden-print">
				<button id="carousel-publications-prev" class="carousel-control-a" title="Publications précédentes"><span class="sprite prev-a"><span class="sr-only">Publications précédentes</span></span></button>
				<button id="carousel-publications-next" class="carousel-control-a" title="Publications suivantes"><span class="sprite next-a"><span class="sr-only">Publications suivantes</span></span></button>
			</div>
			<ul class="carousel-horizontal" id="carousel-publications" data-timer="5000" data-auto="true"  data-prev="carousel-publications-prev" data-next="carousel-publications-next" data-itemsDesktop="4" data-itemsTablet="3" data-itemsPhone="2" data-itemScroll="2">
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6">
					<a href="#" title="Accéder à la publication XXX" class="hover-trigger">
						<figure class="hover-c bor-a-gy-a">
							<img src="//placehold.it/255x341" class="img-responsive" alt="#">
						</figure>
					</a>
				</li>
			</ul>
		</div>

	</div>
	<div class="bor-t-gy-c ta-c hidden-print">
		<footer>
			<a href="#" class="d-inbl va-m pv-5 hover-b rd-a">
				<div>
					<span class="sprite arrow-rd-r-a mr-5"></span><strong class="tt-upp p-like-c c-pu-c">Voir toutes les publications</strong><span class="sprite arrow-rd-l-a ml-5"></span>
				</div>
			</a>
		</footer>
	</div>
</section>
