<div class="d-inbl va-m sep-a">
	[(#REM) <img src="#CHEMIN{theme/images/sprites/weather-a.png}" class="mr-10" width="22" alt="Météo Alfortville :: ETAT A DYNAMER (ensoleillé/pluvieux/etc)"> ]
	[(#ENV{icone}|rainette_afficher_icone{petit}|inserer_attribut{width,28}|inserer_attribut{height,#ENV{icone}|rainette_afficher_icone{petit}|hauteur})]
	<span class="p-like-d tt-upp fw-light">[(#ENV{temperature_reelle}|rainette_afficher_unite{temperature, -1, #ENV{service, weather}})]</span>
</div>