<div class="col-md-12 mv-15">
	<article itemtype="https://schema.org/Article" itemscope>
		<div class="embed-responsive embed-responsive-16by9">
			 <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen="" itemprop="image"></iframe>
		</div>
		<header class="mt-15">
			<h3 class="h-like-g " itemprop="headline">Gaëlle Buswel Live@Alfortville 2015</h3>
		</header>
		<p class="mt-5" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga non autem a omnis, esse. Repellendus.</p>

		<time class="hidden" itemprop="datePublished" datetime="2014-07-14">05/06/2015</time>
	</article>
</div>
