<div class="col-md-6 col-sm-6 mv-15">
	<article class="equal-col-item" itemtype="https://schema.org/Article" itemscope>
		 <a href="#" class="link hover-trigger" title="Consultez l'article XXX">
			<figure class="hover-c bor-a-gy-a">
				<img src="//placehold.it/525x327" class="img-responsive w-full-xs" alt="Alt de l'article à Dynamiser" itemprop="image">
			</figure>
		</a>
		<header class="mt-15">
			<h3 class="h-like-g " itemprop="description">Gaëlle Buswel Live@Alfortville 2015</h3>
		</header>
		<p class="mt-5" itemprop="headline">ConsecteturLorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga non autem a omnis, esse. Repellendus.</p>
		<ul class="d-inbl tt-upp p-like-c mt-10">
			<li class="c-pu-c sep-e" itemprop="about">Solidarité</li>
			<li><a href="#" title="Lire la suite de l'article XXX" class="trigger-hover" itemprop="url"><strong class="hover-a c-rd-a rd-a">Lire la suite</strong></a></li>
		</ul>

		<time class="hidden" itemprop="datePublished" datetime="2014-07-14">05/06/2015</time>
	</article>
</div>
<div class="col-md-6 col-sm-6 mv-15">
	<article class="equal-col-item" itemtype="https://schema.org/Article" itemscope>
		 <a href="#" class="link hover-trigger" title="Consultez l'article XXX">
			<figure class="hover-c bor-a-gy-a">
				<img src="//placehold.it/525x327" class="img-responsive w-full-xs" alt="Alt de l'article à Dynamiser" itemprop="image">
			</figure>
		</a>
		<header class="mt-15">
			<h3 class="h-like-g " itemprop="description">Gaëlle Buswel Live@Alfortville 2015</h3>
		</header>
		<p class="mt-5" itemprop="headline">ConsecteturLorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga non autem a omnis, esse. Repellendus.</p>
		<ul class="d-inbl tt-upp p-like-c mt-10">
			<li class="c-pu-c sep-e" itemprop="about">Solidarité</li>
			<li><a href="#" title="Lire la suite de l'article XXX" class="trigger-hover" itemprop="url"><strong class="hover-a c-rd-a rd-a">Lire la suite</strong></a></li>
		</ul>

		<time class="hidden" itemprop="datePublished" datetime="2014-07-14">05/06/2015</time>
	</article>
</div>
