[(#SET{documents,#ENV{documents}|explode{','}})]

[(#REM) sur une colonne ]
[(#GET{documents}|count|=={1}|oui) [(#SET{colonne,12})][(#SET{col-1,3})][(#SET{col-2,9})] ]

[(#REM) sur deux colonnes ]
[(#GET{documents}|count|=={2}|oui) [(#SET{colonne,6})][(#SET{col-1,5})][(#SET{col-2,7})] ]

[(#REM) sur trois colonnes ]
[(#GET{documents}|count|>{2}|oui) [(#SET{colonne,6})][(#SET{col-1,5})][(#SET{col-2,7})] ]

<B_documents>
<div class="row equal-col-wp pv-15">
<BOUCLE_documents(DOCUMENTS){id_document IN #GET{documents}}>
	<div class="col-md-[(#GET{colonne}) ]col-sm-[(#GET{colonne}) ]mv-15">
		<div class="directory-item bg-gy-a">
			<span class="hover-b gy-a hover-trigger equal-col-item">
				<div class='row pa-5'>
					<div class='col-md-#GET{col-1}'>
						<figure>
							[(#FICHIER|image_reduire{130})]
						</figure>
					</div>
					<div class='col-md-#GET{col-2}'>
						<h3 class="h-like-n c-pu-d">#TITRE</h3>
						<div class="mt-10">[(#DESCRIPTIF|propre)]</div>
					</div>
				</div>
			</span>
		</div>
	</div>
</BOUCLE_documents>
</div>
</B_documents>