#ENV*{bloc_ancre}
#SET{bornes,#ENV{page_courante}|bornes_pagination{#ENV{nombre_pages},10}}
#SET{premiere, #GET{bornes}|reset}
#SET{derniere, #GET{bornes}|end}
#SET{pages,#GET{premiere}|range{#GET{derniere}}}
#SET{sep,#ENV{separateur,' | '}}

<B_pages>
<ul class="pagination">
	[(#SET{item, #ENV{page_courante}|moins{2}|mult{#ENV{pas}}})]

	<li class="[(#ENV{page_courante}|<={1}|oui)disabled]">
		[(#ENV{page_courante}|<={1}|non)<a href="
			[(#ENV{url}
				|parametre_url{pagination_page,#ENV{pagination_page}}
				|parametre_url{#ENV{debut},#GET{item}|?{#GET{item}}}
				|ancre_url{#ENV{ancre}}
			)]
		" aria-label="Previous" title='Aller à la page[ (#GET{item}|div{#ENV{pas}}|plus{1})] sur #ENV{nombre_pages}'>]
		[(#ENV{page_courante}|<={1}|oui)<span>]
	   		<span class="sprite next-c mr-5"></span>
			<span class="hidden-xs">Précédent</span>
	 	[(#ENV{page_courante}|<={1}|non)</a>]
	 	[(#ENV{page_courante}|<={1}|oui)</span>]
	</li>

	[<li>
		<a
			href='[
				(#ENV{url}
					|parametre_url{pagination_page,#ENV{pagination_page}}
					|parametre_url{#ENV{debut},''}
				)]##ENV{ancre}' title='Aller à la page 1 sur #ENV{nombre_pages}'>(#GET{premiere}|>{1}|?{1})</a>
	</li>

	<li>
		<span>&hellip;</span>
	</li>]

	<BOUCLE_pages(POUR){tableau #GET{pages}}>
		[(#SET{item, #VALEUR|moins{1}|mult{#ENV{pas}}})]

		[<li[ class='(#VALEUR|=={#ENV{page_courante}}|oui)active']>
			<a href="
				(#ENV{url}
					|parametre_url{pagination_page,#ENV{pagination_page}}
					|parametre_url{#ENV{debut},#GET{item}|?{#GET{item}}}
					|ancre_url{#ENV{ancre}}
				)
			" title='Aller à la page[ (#GET{item}|div{#ENV{pas}}|plus{1})] sur #ENV{nombre_pages}'>
				#VALEUR
			</a>
		</li>]
	</BOUCLE_pages>

	[<li>
		<span>&hellip;</span>
	</li>

	<li>
		<a href='[
		(#ENV{url}
			|parametre_url{pagination_page,#ENV{pagination_page}}
			|parametre_url{#ENV{debut},#ENV{nombre_pages}|moins{1}|mult{#ENV{pas}}}
		)]##ENV{ancre}' title='Aller à la page[ (#ENV{nombre_pages}) ]sur[ (#ENV{nombre_pages}) ]'>
				(#GET{derniere}|<{#ENV{nombre_pages}}|?{#ENV{nombre_pages}})
		</a>
	</li>]

	[(#SET{item, #ENV{page_courante}|mult{#ENV{pas}}})]
	<li class="[(#ENV{page_courante}|>={#ENV{nombre_pages}}|oui)disabled]">
		[(#ENV{page_courante}|>={#ENV{nombre_pages}}|oui)<span>]
		[(#ENV{page_courante}|>={#ENV{nombre_pages}}|non)<a href="
			[(#ENV{url}
				|parametre_url{pagination_page,#ENV{pagination_page}}
				|parametre_url{#ENV{debut},#GET{item}|?{#GET{item}}}
				|ancre_url{#ENV{ancre}}
			)]
		" aria-label="Next" title='Aller à la page[ (#GET{item}|div{#ENV{pas}}|plus{1})] sur #ENV{nombre_pages}'>]
			<span class="hidden-xs">Suivant</span>
			<span class="sprite prev-c ml-5"></span>
		[(#ENV{page_courante}|>={#ENV{nombre_pages}}|non)</a>]
		[(#ENV{page_courante}|>={#ENV{nombre_pages}}|oui)</span>]
	</li>
</ul>
</B_pages>
