<div class="plan_du_site">
	<ul>
	<BOUCLE_Racine(RUBRIQUES){racine}{par num titre}{!id_mot=8}>
		<li>
			<h2 class='spip'><a href="#URL_RUBRIQUE">#TITRE</a></h2>
			<B_articles_racine>
			<ul class="spip">
				<BOUCLE_articles_racine(ARTICLES) {id_rubrique} {par num titre}{!par date}{!id_mot=8}>
				<li><a href="#URL_ARTICLE">#TITRE</a></li>
				</BOUCLE_articles_racine>
			</ul>
			</B_articles_racine>

			<B_rubriques>
			<ul>
				<BOUCLE_rubriques(RUBRIQUES) {id_parent} {par num titre}{!par date}{!id_mot=8}>
				<li>
					<h2 class='spip'><a href="#URL_RUBRIQUE">#TITRE</a></h2>

					<B_articles>
					<ul class="spip">
						<BOUCLE_articles(ARTICLES) {id_rubrique} {par num titre}{!par date}{!id_mot=8}>
						<li><a href="#URL_ARTICLE">#TITRE</a></li>
						</BOUCLE_articles>
					</ul>
					</B_articles>

					<BOUCLE_sous_rubriques(BOUCLE_rubriques)></BOUCLE_sous_rubriques>
				</li>
				</BOUCLE_rubriques>
			</ul>
			</B_rubriques>
		</li>
	</BOUCLE_Racine>
	</ul>


	<B_pages>
	<ul>
	<li>
		<h2 class='spip'>Informations pratiques</h2>
		<ul class="spip">
			<BOUCLE_pages(ARTICLES) {id_rubrique=-1} {par num titre}{!par date}{!id_mot=8}>
			<li><a href="#URL_ARTICLE">#TITRE</a></li>
			</BOUCLE_pages>
		</ul>
	</li>
	</ul>
	</B_pages>
</div>