<div class="container">
	<div class="row">
		<ol class="breadcrumb style-a"  itemscope itemtype="//schema.org/BreadcrumbList">
			<li class="logo"><div class="sprite breadcrumb-logo"></div></li>
			#SET{objet,''}#SET{id_objet,''}

			[(#ENV{id_rubrique}|oui)#SET{objet,rubrique}#SET{id_objet,#ENV{id_rubrique}}]
			[(#ENV{id_syndic}|oui)#SET{objet,site}#SET{id_objet,#ENV{id_syndic}}]
			[(#ENV{id_breve}|oui)#SET{objet,breve}#SET{id_objet,#ENV{id_breve}}]
			[(#ENV{id_article}|oui)#SET{objet,article}#SET{id_objet,#ENV{id_article}}]
			[(#ENV{id_document}|oui)#SET{objet,document}#SET{id_objet,#ENV{id_document}}]
			[(#ENV{id_objet}|oui)#SET{objet,#ENV{objet}}#SET{id_objet,#ENV{id_objet}}]
			[(#GET{objet}|non|et{#ENV{#ENV{type-page}|id_table_objet}}|oui)
				#SET{objet,#ENV{type-page}}#SET{id_objet,#ENV{#ENV{type-page}|id_table_objet}}
			]
			[(#GET{objet}|oui)
				#INCLURE{fond=breadcrumb/inc-objet,id_objet=#GET{id_objet},objet=#GET{objet}}
			][(#GET{objet}|non)
				<li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><a itemprop="url" href="#URL_SITE_SPIP"><span itemprop="title">Accueil</span></a></li>
				[<li class="active" itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><span itemprop="title">(#ENV*{gabarit})</span></li>]
			]
		</ol>
	</div>
</div>
