<li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><a itemprop="url" href="#URL_SITE_SPIP"><span itemprop="title">Accueil</span></a></li>
<BOUCLE_contexte_rubrique(RUBRIQUES) {id_rubrique=(#OBJET|=={rubrique}|?{#INFO_ID_PARENT{#OBJET,#ID_OBJET},#INFO_ID_RUBRIQUE{#OBJET,#ID_OBJET}})}>
<BOUCLE_ariane_hier(HIERARCHIE) {id_rubrique}{tout}>
<BOUCLE_rubrique(RUBRIQUES GROUPES_MOTS){id_rubrique}{doublons}{!groupes_mots.technique=oui}>
	<li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><a itemprop="url" href="#URL_RUBRIQUE"><span itemprop="title">#TITRE</span></a></li>
</BOUCLE_rubrique>
</BOUCLE_ariane_hier>
</BOUCLE_contexte_rubrique>
[(#OBJET|=={document}|oui) <li itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><a itemprop="url" href="#URL_RUBRIQUE{53}"><span itemprop="title">#INFO_TITRE{rubrique,53}</span></a></li>
 ]
<li class="active" itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem"><span itemprop="title">#INFO_TITRE{#OBJET,#ID_OBJET}</span></li>
