[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]
[<link rel="shortcut icon" href="(#ENV*{favicon}
	|sinon{#CHEMIN{favicon.ico}}
	|sinon{#CHEMIN{theme/img/favicon.ico}}
	|sinon{#LOGO_SITE_SPIP}
		|image_passe_partout{32,32}
		|image_recadre{32,32,center}
		|image_format{ico}|extraire_attribut{src}
	|sinon{#CHEMIN{spip.ico}})" type="image/x-icon" />]

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="#CHEMIN{theme/images/icons/apple-touch-icon.png}" />
<link rel="apple-touch-icon" sizes="57x57" href="#CHEMIN{theme/images/icons/apple-touch-icon-57x57.png}" />
<link rel="apple-touch-icon" sizes="72x72" href="#CHEMIN{theme/images/icons/apple-touch-icon-72x72.png}" />
<link rel="apple-touch-icon" sizes="76x76" href="#CHEMIN{theme/images/icons/apple-touch-icon-76x76.png}" />
<link rel="apple-touch-icon" sizes="114x114" href="#CHEMIN{theme/images/icons/apple-touch-icon-114x114.png}" />
<link rel="apple-touch-icon" sizes="120x120" href="#CHEMIN{theme/images/icons/apple-touch-icon-120x120.png}" />
<link rel="apple-touch-icon" sizes="144x144" href="#CHEMIN{theme/images/icons/apple-touch-icon-144x144.png}" />
<link rel="apple-touch-icon" sizes="152x152" href="#CHEMIN{theme/images/icons/apple-touch-icon-152x152.png}" />
<link rel="apple-touch-icon" sizes="180x180" href="#CHEMIN{theme/images/icons/apple-touch-icon-180x180.png}" />

[(#ENV{type-page}|=={recherche}|oui)
	#SET{pas,#CONFIG{icdc_recherche_avancee/nb_pagination}|sinon{30}}

	[(#ENV{debut_affichage}|oui) <link rel="prev" href="[(#URL_PAGE{recherche}|parametre_url{recherche,#ENV{recherche}}|parametre_url{debut_affichage,#ENV{debut_affichage}|moins{#GET{pas}}})]" /> ]
	<link rel="next" href="[(#URL_PAGE{recherche}|parametre_url{recherche,#ENV{recherche}}|parametre_url{debut_affichage,#ENV{debut_affichage}|plus{#GET{pas}}})]" />
]