[<script src="(#CHEMIN{theme/javascript/global.js})"></script>]

<script>
var url = $('.addthis_button_twitter').attr('data-tw-url');
var addthis_share =
{
	templates: {
		twitter: '{{title}} ' + url
	}
}
</script>

<!-- Cookies Bar -->

#SET{ADDTHIS_TRACKER, false}
#SET{ADDTHIS_PUBID, ra-XXXXXXXXXXXX}

<script type="text/javascript">
	if(jQuery.cookieBar('cookies')){
		var addthis_config = {"data_track_addressbar":#GET{ADDTHIS_TRACKER}};
		var sNew = document.createElement("script");
		sNew.async = true;
		sNew.src = "//s7.addthis.com/js/300/addthis_widget.js#pubid=#GET{ADDTHIS_PUBID}";
		var s0 = document.getElementsByTagName('script')[0];
		s0.parentNode.insertBefore(sNew, s0);
	}
</script>

<script type="text/javascript">
$(document).ready(function(){
	if(jQuery.cookieBar('cookies')){
		// alert("Cookies acceptés.");
		/* Google Analytics */
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-XXXXXX-1', 'domaine.fr');
		ga('send', 'pageview');
	}else{
		jQuery('body').addClass('cookie_no');
	}
});
</script>
