[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="//purl.org/dc/elements/1.1/"
	xmlns:content="//purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>

	<title>[(#NOM_SITE_SPIP|textebrut|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	<description>[(#DESCRIPTIF_SITE_SPIP|texte_backend)]</description>
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP|image_reduire{150,150}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP|image_reduire{150,150}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP|image_reduire{150,150}|extraire_attribut{width})</width>]
	</image>
]

</channel>

</rss>
