#CACHE{0}#HTTP_HEADER{Content-Type: text/xml; charset=#CHARSET}<?xml version="1.0" encoding="#CHARSET" ?>

<rss version="2.0" xmlns:dc="//purl.org/dc/elements/1.1/" xmlns:thr="//purl.org/syndication/thread/1.0">
<channel xml:lang="[(#ENV{lang}|texte_backend)]">
</channel>
</rss>
