#HTTP_HEADER{Content-Type: text/xml; charset=utf-8}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="//www.sitemaps.org/schemas/sitemap/0.9">

[(#REM) Accueil]
<url>
	<loc>#URL_SITE_SPIP/</loc>
	<changefreq>hourly</changefreq>
</url>
</urlset>
