[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml version="1.0" ?>
<rss version="2.0">
<channel>
	<title>[(#NOM_SITE_SPIP|textebrut|texte_backend)][ - (#INFO_TITRE{rubrique,#ENV{id_rubrique}})]</title>
	<link>#URL_SITE_SPIP/</link>
	<description>[(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)]</description>
	[<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{width})</width>]
	</image>]
	<BOUCLE_10recents(ARTICLES) {lang ?}{branche ?}{id_mot ?}{id_auteur ?} {par date}{inverse}{0,10}{unique}>
	<item>
		<title>[(#TITRE|supprimer_tags|texte_backend)]</title>
		<link>[(#URL_ARTICLE|url_absolue|texte_backend)]</link> 
		<description>[(#INTRODUCTION|texte_backend)]</description>
	</item>
	</BOUCLE_10recents>
</channel>
</rss>
