<body>
	<INCLURE{fond=inclure/header/skiplinks} />
	<INCLURE{fond=header/#ENV{type-page}, env} />
	<main id="main">
		<INCLURE{fond=breadcrumb/#ENV{type-page}, env} />
		<INCLURE{fond=content/#ENV{type-page},env}>
	</main>
	<INCLURE{fond=footer/#ENV{type-page}}>
	<INCLURE{fond=inclure/head/5-js, env} />
</body>
