#CACHE{0}
#HTTP_HEADER{Content-Type: text/html; charset=#CHARSET}
#SET{statut,#LISTE{publie,depublie}}
[(#SET{entrees,#ARRAY})]

[(#REM) Calculer les rubriques à exclures (et les branches) ]
#SET{rubriques_exclues,#CONFIG{icdc_recherche_avancee/exclusion_rubriques}}
#SET{branches_exclues,#CONFIG{icdc_recherche_avancee/exclusion_branches}}
<BOUCLE_rubriques_a_exclure(RUBRIQUES){id_rubrique IN #GET{branches_exclues}|explode{","}}{tout}>
	[(#SET{rubriques_exclues,[[(#GET{rubriques_exclues})],(#ID_RUBRIQUE)]})]
	<BOUCLE_rubriques_a_exclure2(RUBRIQUES){id_parent}{tout}>
		[(#SET{rubriques_exclues,[[(#GET{rubriques_exclues})],(#ID_RUBRIQUE)]})]
		<BOUCLE_sousrub(BOUCLE_rubriques_a_exclure2){tout}> </BOUCLE_sousrub>
	</BOUCLE_rubriques_a_exclure2>
</BOUCLE_rubriques_a_exclure>

[(#REM) Mélange articles / rubriques ]
<BOUCLE_recherche_articles(ARTICLES){recherche ?}{par points}{inverse}{0,5}{!id_rubrique IN #GET{rubriques_exclues}|explode{','}}{statut IN #GET{statut}}>
	[(#SET{entrees,#GET{entrees}|push{#ARRAY{
		objet,article,
		id_objet,#ID_ARTICLE,
		titre,#TITRE,
		categorie,#INFO_TITRE{rubrique,#ID_RUBRIQUE},
		url,#URL_ARTICLE,
		points,#POINTS
	}}})]
</BOUCLE_recherche_articles>

<BOUCLE_recherche_articles_uniques(ARTICLES){id_rubrique=-1}{recherche ?}{par points}{inverse}{0,5}{!id_rubrique IN #GET{rubriques_exclues}|explode{','}}{!id_mot=8}{statut IN #GET{statut}}>
	[(#SET{entrees,#GET{entrees}|push{#ARRAY{
		objet,article,
		id_objet,#ID_ARTICLE,
		titre,#TITRE,
		categorie,#INFO_TITRE{rubrique,#ID_RUBRIQUE},
		url,#URL_ARTICLE,
		points,#POINTS
	}}})]
</BOUCLE_recherche_articles_uniques>

<BOUCLE_recherche_rubriques(RUBRIQUES){recherche ?}{par points}{inverse}{0,5}{!id_rubrique IN #GET{rubriques_exclues}|explode{','}}>
	<BOUCLE_parent(RUBRIQUES){id_enfant}>
		[(#SET{categorie,#TITRE})]
	</BOUCLE_parent>

	[(#SET{entrees,#GET{entrees}|push{#ARRAY{
		objet,rubrique,
		id_objet,#ID_RUBRIQUE,
		titre,#TITRE,
		categorie,#GET{categorie},
		url,#URL_RUBRIQUE,
		points,#POINTS
	}}})]
</BOUCLE_recherche_rubriques>

<div class="surlignable">
<ul class="mt-15">
	<BOUCLE_recherche(DATA){source table, #GET{entrees}}{par points}{inverse}{0,5}>
	<li class="item">
		<a href="#VALEUR{url}" class="link hover-b gy-a">
			<div class="clearfix">
				<div class="col-md-9 col-sm-8">
					<div class="p-like-f mt-5 mt-0-xs">#VALEUR{titre}</div>
				</div>
				<div class="col-md-3 col-sm-4 ta-r hidden-xs">
					[<div class="label-a style-a pu-c">(#VALEUR{categorie}|couper{20})</div>]
				</div>
			</div>
		</a>
	</li>
	</BOUCLE_recherche>
</ul>
</div>
<div class="mt-30 ta-c">
	<a href="[(#URL_PAGE{recherche}|parametre_url{recherche,#ENV{recherche}})]" class="trigger-hover"><strong class="c-rd-a h-like-g tt-upp hover-a rd-a">Voir tous les résultats</strong></a>
</div>