
#cookie-bar {
    bottom: 0;
    position: fixed;
    width: 100%;
}

/* Surchages SPIP */

/* Bouton d'admin */
body .spip-admin-bloc, body .spip-admin-float {
    bottom: 0;
    top : auto;
    right : 2%;
    position: fixed;
    white-space: nowrap;
    z-index: 100;
}
